/* Header Styles */

header {
  float: right;
  margin-right: 10px;
}

/* Footer Styles */

.footer_left {
  float: left;
  margin-left: 10px;
}

.footer_right {
  float: right;
  margin-right: 10px;
}
